@import '../../Styles/colors';
@import '../../Styles/layouts';

.navbar {
    background-color: $greenie;
    color: $charcoal;
    font-size: 2rem;
    z-index: 2;
    overflow: visible;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: 'Baloo2', cursive;

    :visited {
        color: black;
    };

    &__list {
        float: left;
        padding: 5px;
        margin: 5px;
        position: inherit;
        align-items: center;
        height: 100%;
        font-size: inherit;
        
        &__link {
            cursor: pointer;
            display: block;
            padding: 15px;
            position: relative;
            float: inherit;
        };
            
        &__logo {
            padding: 5px;
        };

        &__settings {
            cursor: pointer;
            
            &__link {
                cursor: pointer;
                display: block;
                padding: 5px;

                :visited {
                    color: black;
                };
            };

        };
    };
};