@import '../../Styles/colors';
@import '../../Styles/layouts';

.navbar {
    background-color: $greenie;
    color: $charcoal;
    font-size: 2rem;
    z-index: 2;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: 'Baloo2', cursive;

    :visited {
        color: black;
    };

    &__list {
        float: left;
        padding: 5px;
        margin: 5px;
        display: inline-flex;
        align-items: center;
        height: 100%;
        font-size:inherit;
        
        //    :hover {
            //        background-color: green;
            //    }
            
        &__link {
            cursor: pointer;
            display: block;
            padding: 15px;
            text-align: center;
        };
            
        &__logo {
            padding: 5px;
        };

        &__settings {
            cursor: pointer;
            
            &__link {
                cursor: pointer;
                display: block;
                padding: 5px;
            };
        };
    };
};